<p>Sources used by this application.</p>

<% unless Source.active.empty? %>
  <table class="table" id="SummaryTable">
    <thead>
      <tr>
        <th class="group">Group</th>
        <th class="name">Source</th>
        <th class="description">Description</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.active.each do |group| %>
        <% group.sources.active.each do |source| %>
          <tr>
            <% if group.sources.active.first.name == source.name %>
              <td <%= "rowspan=#{group.sources.active.count}" %>><h4><%= h(group.display_name) %></h4></td>
            <% end %>
            <td><%= link_to source.display_name, source_path(source) %></td>
            <td><%= h(source.description) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">No active sources found</div>
<% end %>
