<div class="content">
  <div class="page-header" id="page-header">
    <h1>Agents</h1>
  </div>

  <ul class="nav nav-pills" id="nav_index">
    <li class="active"><a href="#jobs" data-toggle="tab" title="Jobs">Jobs</a></li>
    <li><a href="#responses" data-toggle="tab" title="Responses">Responses</a></li>
    <li><a href="#installation" data-toggle="tab" title="Installation">Installation</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="jobs">
      {{partial "agents/jobs"}}
    </div>
    <div class="tab-pane" id="reponses">
      {{partial "agents/responses"}}
    </div>
    <div class="tab-pane" id="installation">
      {{partial "agents/installation"}}
    </div>
  </div>
</div>
