<div class="content">
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <div class="btn-group btn-group-sm">
        {{fa-icon "plus"}}
      </div>
    </div>
    <h1>Publishers</h1>
  </div>

  <div class="content" id="content">
    {{#if controller}}
      <div id="results">
        {{#each publisher in controller}}
          <h4 class="article">{{#link-to 'publisher' publisher}}{{publisher.name}}{{/link-to}}</h4>
          <p>Prefix: {{publisher.prefixes}}</p>
        {{/each}}
      </div>
      <div class="text-center">

      </div>
    {{else}}
      <div class="alert alert-info">There are currently no publishers</div>
    {{/if}}
  </div>
</div>
