{{#if groups}}
  {{#each group in groups}}
    {{#if group.sources}}
      <div class="panel panel-default">
        <div class="panel-heading">{{group.title}}</div>
        <table class="table">
          <thead>
            <tr>
              <th class="name">Source</th>
              <th>Status</th>
              <th class="status">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each source in group.sources}}
              <tr>
                <td>{{#link-to 'source' source}}{{source.title}}{{/link-to}}</td>
                <td>{{active-label source.status}}</td>
                  <td>
                    activate
                  </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  {{/each}}
{{else}}
  <div class="alert alert-info">No sources found</div>
{{/if}}
