<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-source panel-default">
        <div class="panel-heading">Events <small class="pull-right">total</small></div>
        <div class="panel-body">
          <p>{{workCount}} works</p>
          <p>{{eventCount}} events for these works</br>&nbsp;</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-source panel-default">
        <div class="panel-heading">Events <small class="pull-right">last 24 hours</small></div>
        <div class="panel-body" id="chart_day">
          <div class="text-muted" id="chart_day-loading">Loading … {{fa-icon "spinner" spin=true}}</img></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-source panel-default">
        <div class="panel-heading">Events <small class="pull-right">last 31 days</small></div>
        <div class="panel-body" id="chart_month">
          <div class="text-muted" id="chart_month-loading">Loading … {{fa-icon "spinner" spin=true}}</img></div>
        </div>
      </div>
    </div>
  </div>
</div>
