<div class="panel panel-default">
  <div class="panel-heading panel-title">
    {{title}} <small class="pull-right" id="update_date">{{format-time updateDate}} {{state-label status}}</small>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      {{#if group}}
        <dt>Group</dt>
        <dd>{{group.title}}</dd>
      {{/if}}
    </dl>
  </div>
</div>
